<h1>{{ group?.name }} group profile</h1>

<div>
    <app-edit-group *ngIf="group" [group]="group" (save)="onSave($event)"></app-edit-group>

    <h3>Users assigned to this group:</h3>
    <div>
        <table class="table">
            <tr>
                <th>User Name</th>
            </tr>
            <tr *ngFor="let userGroup of group?.userGroups">
                <td> {{ userGroup.user.name }} </td>
            </tr>
        </table>
    </div>

    <h3>Delete this group</h3>
    <button class="btn" (click)="deleteGroup()">Delete</button>
</div>