<h1>Group profile</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Name </dt>
        <dd>
            <form [formGroup]="form">
                <input class="form-control" type="text" formControlName="name" />
                <br>
                <span class="text-danger" *ngIf="form.controls['name'].hasError('minlength')">Name has to be longer
                    than 3 characters!<br></span>
                <button class="btn" type="submit" [disabled]="!form.valid" (click)="
                    editName()">Save</button>
            </form>
        </dd>
    </dl>

    <div *ngIf="group?.userGroups?.length > 0">
        <h4>Users</h4>
        <table class="table">
            <tr>
                <th>User Name</th>
            </tr>
            <tr *ngFor="let userGroup of group.userGroups">
                <td> {{ userGroup.user.name }} </td>
            </tr>
        </table>
    </div>
</div>
<p>
    <a [routerLink]='["/groups"]'>Back to List</a>
</p>