<h1>{{ user?.name }} Profile</h1>

<div>
    <app-edit-user *ngIf="user" [user]="user" (save)="onSave($event)"></app-edit-user>

    <h3>{{ user?.name }}'s groups:</h3>
    <div>
        <table class="table">
            <tr>
                <th>Group Name</th>
            </tr>
            <tr *ngFor="let userGroup of user.userGroups">
                <td> {{ userGroup.group.name }} </td>
            </tr>
        </table>
    </div>

    <h3>Delete this user</h3>
    <button class="btn" (click)="deleteUser()">Delete</button>
</div>